<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nemtool.explorer.mapper.UnconfirmedtransactionsMapper" >
  <resultMap id="BaseResultMap" type="com.nemtool.explorer.pojo.Unconfirmedtransactions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="timeStamp" property="timeStamp" jdbcType="BIGINT" />
    <result column="deadline" property="deadline" jdbcType="BIGINT" />
    <result column="otherHash" property="otherhash" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.nemtool.explorer.pojo.Unconfirmedtransactions" extends="BaseResultMap" >
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, signature, timeStamp, deadline, otherHash
  </sql>
  <sql id="Blob_Column_List" >
    detail
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.nemtool.explorer.pojo.UnconfirmedtransactionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from unconfirmedtransactions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nemtool.explorer.pojo.UnconfirmedtransactionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from unconfirmedtransactions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from unconfirmedtransactions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from unconfirmedtransactions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nemtool.explorer.pojo.UnconfirmedtransactionsExample" >
    delete from unconfirmedtransactions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nemtool.explorer.pojo.Unconfirmedtransactions" >
    insert into unconfirmedtransactions (id, signature, timeStamp, 
      deadline, otherHash, detail
      )
    values (#{id,jdbcType=INTEGER}, #{signature,jdbcType=VARCHAR}, #{timeStamp,jdbcType=BIGINT}, 
      #{deadline,jdbcType=BIGINT}, #{otherhash,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nemtool.explorer.pojo.Unconfirmedtransactions" >
    insert into unconfirmedtransactions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="timeStamp != null" >
        timeStamp,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="otherhash != null" >
        otherHash,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        #{timeStamp,jdbcType=BIGINT},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=BIGINT},
      </if>
      <if test="otherhash != null" >
        #{otherhash,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nemtool.explorer.pojo.UnconfirmedtransactionsExample" resultType="java.lang.Integer" >
    select count(*) from unconfirmedtransactions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update unconfirmedtransactions
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.signature != null" >
        signature = #{record.signature,jdbcType=VARCHAR},
      </if>
      <if test="record.timeStamp != null" >
        timeStamp = #{record.timeStamp,jdbcType=BIGINT},
      </if>
      <if test="record.deadline != null" >
        deadline = #{record.deadline,jdbcType=BIGINT},
      </if>
      <if test="record.otherhash != null" >
        otherHash = #{record.otherhash,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update unconfirmedtransactions
    set id = #{record.id,jdbcType=INTEGER},
      signature = #{record.signature,jdbcType=VARCHAR},
      timeStamp = #{record.timeStamp,jdbcType=BIGINT},
      deadline = #{record.deadline,jdbcType=BIGINT},
      otherHash = #{record.otherhash,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update unconfirmedtransactions
    set id = #{record.id,jdbcType=INTEGER},
      signature = #{record.signature,jdbcType=VARCHAR},
      timeStamp = #{record.timeStamp,jdbcType=BIGINT},
      deadline = #{record.deadline,jdbcType=BIGINT},
      otherHash = #{record.otherhash,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nemtool.explorer.pojo.Unconfirmedtransactions" >
    update unconfirmedtransactions
    <set >
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        timeStamp = #{timeStamp,jdbcType=BIGINT},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=BIGINT},
      </if>
      <if test="otherhash != null" >
        otherHash = #{otherhash,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.nemtool.explorer.pojo.Unconfirmedtransactions" >
    update unconfirmedtransactions
    set signature = #{signature,jdbcType=VARCHAR},
      timeStamp = #{timeStamp,jdbcType=BIGINT},
      deadline = #{deadline,jdbcType=BIGINT},
      otherHash = #{otherhash,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nemtool.explorer.pojo.Unconfirmedtransactions" >
    update unconfirmedtransactions
    set signature = #{signature,jdbcType=VARCHAR},
      timeStamp = #{timeStamp,jdbcType=BIGINT},
      deadline = #{deadline,jdbcType=BIGINT},
      otherHash = #{otherhash,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>